* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  line-height: 1.6;
  background: #f8f9fa;
  color: #333;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  z-index: 1000;
}

.logo img{
  width: 150px;
  height: 100px;
  
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: #333;
  position: relative;
}

.nav-link.active,
.nav-link:hover {
  color: #0077ff;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.section {
  padding: 6rem 5% 4rem;
  text-align: center;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(135deg, #011731, #333434);
  color: white;
}

.hero span {
  color: yellow;
    margin-bottom: 10px;
}
.title{
  color: rgb(252, 70, 4);
  min-height: 1.8em;
}
.btn {
  margin-top: 10px;
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background:white;
  color: #03254b;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
}

.btn:hover {
  background: #eaeaea;
}

.skills-grid,
.project-grid {
  margin-top: 2rem;
  display: grid;
  gap: 1.5rem;
}

.skills-grid {
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.skill {
  padding: 0.8rem;
  background: rgb(3, 151, 70);
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  color: #eaeaea;
}

.project-grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-card {
  background: rgb(165, 163, 163);
  padding: 1.5rem;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-links a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: #0077ff;
}

footer {
  padding: 1rem;
  text-align: center;
  background: #222;
  color: white;
}

/* Mobile Nav */
@media (max-width: 768px) {
  .nav {
    position: absolute;
    right: 0;
    top: 60px;
    flex-direction: column;
    background: white;
    width: 200px;
    display: none;
    padding: 1rem;
  }

  .nav.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
.experience-card {
  background: white;
  padding: 1.5rem;
  margin-top: 2rem;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  text-align: left;
}

.experience-card h3 {
  margin-bottom: 0.5rem;
}

.company {
  font-weight: 500;
  color: #0077ff;
}

.date {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #666;
}

.experience-card ul {
  padding-left: 1.2rem;
}

.experience-links {
  margin-top: 1rem;
}

.experience-links a {
  margin-right: 1rem;
  text-decoration: none;
  color: #0077ff;
}
